
<div>
    <center>
        <br />
        <br />

        @using (Html.BeginForm("Signin", "Signin", FormMethod.Post))
        {

            <br />
            <br />
            <span>     </span>
            <input type="submit" name="btn" value="A Alumni" class="btn btn-dark" />
            <span>     </span>
            <input type="submit" name="btn" value="A Owner" class="btn btn-dark" />

        }
    </center>
    
</div>



