<div>
    <center>
        <br />
        <br />
        <h3>Who are you?  </h3>
        @using (Html.BeginForm("Signup", "Signup", FormMethod.Post))
        {

            <br />
            <br />
            <span>     </span>
            <input type="submit" name="btn" value="A Student" class="btn btn-dark" />
            <span>     </span>
            <input type="submit" name="btn" value="A Owner" class="btn btn-dark" />

        }
    </center>

</div>



